@model IEnumerable<ApolloReportCard.Models.CriteriaModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
@if (DateTime.Now > ViewData["Q1"])
        {
        <th>
            @Html.DisplayNameFor(model => model.QuarterOneGrade)
        </th>
}
@if (DateTime.Now > ViewData["Q2"])
        {
        <th>
            @Html.DisplayNameFor(model => model.QuarterTwoGrade)
        </th>
}
@if (DateTime.Now > ViewData["Q3"])
        {
        <th>
            @Html.DisplayNameFor(model => model.QuarterThreeGrade)
        </th>
}
@if (DateTime.Now > ViewData["Q4"])
        {
        <th>
            @Html.DisplayNameFor(model => model.QuarterFourGrade)
        </th>
}
@if (DateTime.Now > ViewData["Q1"])
        {
        <th>
            @Html.DisplayNameFor(model => model.QuarterOneComments)
        </th>
}
@if (DateTime.Now > ViewData["Q2"])
        {
        <th>
            @Html.DisplayNameFor(model => model.QuarterTwoComments)
        </th>
}
@if (DateTime.Now > ViewData["Q3"])
        {
        <th>
            @Html.DisplayNameFor(model => model.QuarterThreeComments)
        </th>
}
@if (DateTime.Now > ViewData["Q4"])
        {
        <th>
            @Html.DisplayNameFor(model => model.QuarterFourComments)
        </th>
}
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        @if (DateTime.Now > ViewData["Q1"])
        { 
        <td>
            @Html.EditorFor(modelItem => item.QuarterOneGrade)
        </td>
        }
        @if (DateTime.Now > ViewData["Q2"])
        {
        <td>
            @Html.EditorFor(modelItem => item.QuarterTwoGrade)
        </td>
        }
        @if (DateTime.Now > ViewData["Q3"])
        {
        <td>
            @Html.EditorFor(modelItem => item.QuarterThreeGrade)
        </td>
        }
        @if (DateTime.Now > ViewData["Q4"])
        {
        <td>
            @Html.EditorFor(modelItem => item.QuarterFourGrade)
        </td>
        }
        @if (DateTime.Now > ViewData["Q1"])
        {
        <td>
            @Html.EditorFor(modelItem => item.QuarterOneComments)
        </td>
        }
        @if (DateTime.Now > ViewData["Q2"])
        {
        <td>
            @Html.EditorFor(modelItem => item.QuarterTwoComments)
        </td>
        }
        @if (DateTime.Now > ViewData["Q3"])
        {
        <td>
            @Html.EditorFor(modelItem => item.QuarterThreeComments)
        </td>
        }
        @if (DateTime.Now > ViewData["Q4"])
        {
        <td>
            @Html.EditorFor(modelItem => item.QuarterFourComments)
        </td>
        }
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>




@section scripts {

    <script>
        var today = new Date($.now());
        var q1 = new Date('2013-05-23');

        if (today > q1) {
            //alert(today.valueOf().toString());
        }
        $()

</script>

}
