@model List<ApolloReportCard.Models.CriteriaModel>
@{ List<SelectListItem> listItems = new List<SelectListItem>();

    listItems = ViewBag.myGrades;

    //foreach (var skillSet in ViewBag.SkillSetList)
    //{
    //    listItems.Add(new SelectListItem
    //    {
    //        Text = skillSet.SkillName,
    //        Value = skillSet.id.ToString()
    //    });
    //}
}
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<p>
    <button id="AddRow">Add Row</button>
</p>

@using (@Html.BeginForm("Index", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <table id="mytable" class="table table-bordered table-hover">
        <tr>
            @for (int i = 0; i < 1; i++)
            {
                <th>
                    @Html.DisplayNameFor(model => model[i].Name)
                </th>

                if (DateTime.Now > DateTime.Parse(ViewData["Q1"].ToString()))
                {
                    <th>
                        @Html.DisplayNameFor(model => model[i].QuarterOneGrade)
                    </th>
                }
                if (DateTime.Now > DateTime.Parse(ViewData["Q2"].ToString()))
                {
                    <th>
                        @Html.DisplayNameFor(model => model[i].QuarterTwoGrade)
                    </th>
                }
                if (DateTime.Now > DateTime.Parse(ViewData["Q3"].ToString()))
                {
                    <th>
                        @Html.DisplayNameFor(model => model[i].QuarterThreeGrade)
                    </th>
                }
                if (DateTime.Now > DateTime.Parse(ViewData["Q4"].ToString()))
                {
                    <th>
                        @Html.DisplayNameFor(model => model[i].QuarterFourGrade)
                    </th>
                }
                if (DateTime.Now > DateTime.Parse(ViewData["Q1"].ToString()))
                {
                    <th>
                        @Html.DisplayNameFor(model => model[i].QuarterOneComments)
                    </th>
                }
                if (DateTime.Now > DateTime.Parse(ViewData["Q2"].ToString()))
                {
                    <th>
                        @Html.DisplayNameFor(model => model[i].QuarterTwoComments)
                    </th>
                }
                if (DateTime.Now > DateTime.Parse(ViewData["Q3"].ToString()))
                {
                    <th>
                        @Html.DisplayNameFor(model => model[i].QuarterThreeComments)
                    </th>
                }
                if (DateTime.Now > DateTime.Parse(ViewData["Q4"].ToString()))
                {
                    <th>
                        @Html.DisplayNameFor(model => model[i].QuarterFourComments)
                    </th>
                }

            }

        </tr>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>
                    @Html.EditorFor(model => model[i].Name)
                </td>
                @if (DateTime.Now > DateTime.Parse(ViewData["Q1"].ToString()))
                {
                    <td>
                        @Html.DropDownListFor(model => model[i].QuarterOneGrade, new SelectList(listItems, "Value", "Text"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model[i].QuarterOneGrade, "", new { @class = "text-danger" })
                    </td>
                }
                @if (DateTime.Now > DateTime.Parse(ViewData["Q2"].ToString()))
                {
                    <td>
                        @Html.DropDownListFor(model => model[i].QuarterTwoGrade, new SelectList(listItems, "Value", "Text"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model[i].QuarterTwoGrade, "", new { @class = "text-danger" })
                    </td>
                }

                @if (DateTime.Now > DateTime.Parse(ViewData["Q3"].ToString()))
                {
                    <td>
                        @Html.DropDownListFor(model => model[i].QuarterThreeGrade, new SelectList(listItems, "Value", "Text"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model[i].QuarterThreeGrade, "", new { @class = "text-danger" })
                    </td>
                }
                @if (DateTime.Now > DateTime.Parse(ViewData["Q4"].ToString()))
                {
                    <td>
                        @Html.DropDownListFor(model => model[i].QuarterFourGrade, new SelectList(listItems, "Value", "Text"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model[i].QuarterFourGrade, "", new { @class = "text-danger" })
                    </td>
                }
                @if (DateTime.Now > DateTime.Parse(ViewData["Q1"].ToString()))
                {
                    <td>
                        @Html.EditorFor(model => model[i].QuarterOneComments)
                    </td>
                }
                @if (DateTime.Now > DateTime.Parse(ViewData["Q2"].ToString()))
                {
                    <td>
                        @Html.EditorFor(model => model[i].QuarterTwoComments)
                    </td>
                }
                @if (DateTime.Now > DateTime.Parse(ViewData["Q3"].ToString()))
                {
                    <td>
                        @Html.EditorFor(model => model[i].QuarterThreeComments)
                    </td>
                }
                @if (DateTime.Now > DateTime.Parse(ViewData["Q4"].ToString()))
                {
                    <td>
                        @Html.EditorFor(model => model[i].QuarterFourComments)
                    </td>
                }
                <td>
                    @*@Html.DisplayFor(modelItem => item.Name)*@
                    @Html.HiddenFor(model => model[i].Id)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = Model[i].Id })
                </td>

            </tr>
        }
    </table>
    <p><input type="submit" value="Saving" /></p>
    <p style="color:green; font-size:12px;">
        @ViewBag.Message
    </p>
}

@section scripts {

    <script>

        $("#AddRow").on("click", function (e) {
            e.preventDefault();
            $("form").attr('name', "@User.Identity.Name");
            $("form").attr('action', "/Home/Create").submit();
        });



    </script>

}



