@model List<ApolloReportCard.Models.CriteriaModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index2</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    <button id="AddRow">Add Row</button>
</p>

@using (@Html.BeginForm("Index2", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @*@Html.HiddenFor(model => model[0].UserId == User.Identity.Name))*@

    <table id="mytable" class="table table-bordered table-hover">
        <tr>
            @for (int i = 0; i < 1; i++)
            {
                <th>
                    @Html.DisplayNameFor(model => model[i].Name)
                </th>

                if (DateTime.Now > DateTime.Parse(ViewData["Q1"].ToString()))
                {
                    <th>
                        @Html.DisplayNameFor(model => model[i].QuarterOneGrade)
                    </th>
                }
                if (DateTime.Now > DateTime.Parse(ViewData["Q2"].ToString()))
                {
                    <th>
                        @Html.DisplayNameFor(model => model[i].QuarterTwoGrade)
                    </th>
                }
                if (DateTime.Now > DateTime.Parse(ViewData["Q3"].ToString()))
                {
                    <th>
                        @Html.DisplayNameFor(model => model[i].QuarterThreeGrade)
                    </th>
                }
                if (DateTime.Now > DateTime.Parse(ViewData["Q4"].ToString()))
                {
                    <th>
                        @Html.DisplayNameFor(model => model[i].QuarterFourGrade)
                    </th>
                }
                if (DateTime.Now > DateTime.Parse(ViewData["Q1"].ToString()))
                {
                    <th>
                        @Html.DisplayNameFor(model => model[i].QuarterOneComments)
                    </th>
                }
                if (DateTime.Now > DateTime.Parse(ViewData["Q2"].ToString()))
                {
                    <th>
                        @Html.DisplayNameFor(model => model[i].QuarterTwoComments)
                    </th>
                }
                if (DateTime.Now > DateTime.Parse(ViewData["Q3"].ToString()))
                {
                    <th>
                        @Html.DisplayNameFor(model => model[i].QuarterThreeComments)
                    </th>
                }
                if (DateTime.Now > DateTime.Parse(ViewData["Q4"].ToString()))
                {
                    <th>
                        @Html.DisplayNameFor(model => model[i].QuarterFourComments)
                    </th>
                }

            }

        </tr>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>
                    @Html.EditorFor(model => model[i].Name)
                </td>
                @if (DateTime.Now > DateTime.Parse(ViewData["Q1"].ToString()))
                {
                    <td>
                        @Html.EditorFor(model => model[i].QuarterOneGrade)
                    </td>
                }
                @if (DateTime.Now > DateTime.Parse(ViewData["Q2"].ToString()))
                {
                    <td>
                        @Html.EditorFor(model => model[i].QuarterTwoGrade)
                    </td>
                }


                @if (DateTime.Now > DateTime.Parse(ViewData["Q3"].ToString()))
                {
                    <td>
                        @Html.EditorFor(model => model[i].QuarterThreeGrade)
                    </td>
                }
                @if (DateTime.Now > DateTime.Parse(ViewData["Q4"].ToString()))
                {
                    <td>
                        @Html.EditorFor(model => model[i].QuarterFourGrade)
                    </td>
                }
                @if (DateTime.Now > DateTime.Parse(ViewData["Q1"].ToString()))
                {
                    <td>
                        @Html.EditorFor(model => model[i].QuarterOneComments)
                    </td>
                }
                @if (DateTime.Now > DateTime.Parse(ViewData["Q2"].ToString()))
                {
                    <td>
                        @Html.EditorFor(model => model[i].QuarterTwoComments)
                    </td>
                }
                @if (DateTime.Now > DateTime.Parse(ViewData["Q3"].ToString()))
                {
                    <td>
                        @Html.EditorFor(model => model[i].QuarterThreeComments)
                    </td>
                }
                @if (DateTime.Now > DateTime.Parse(ViewData["Q4"].ToString()))
                {
                    <td>
                        @Html.EditorFor(model => model[i].QuarterFourComments)
                    </td>
                }
                <td>
                    @*@Html.DisplayFor(modelItem => item.Name)*@
                    @Html.HiddenFor(model => model[i].Id)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = Model[i].Id })
                </td>

            </tr>
        }
    </table>
    <p><input type="submit" value="Saving" /></p>
    <p style="color:green; font-size:12px;">
        @ViewBag.Message
    </p>
}





@section scripts {

    <script>

        $("#AddRow").on("click", function (e) {
            e.preventDefault();
            $("form").attr('name', "@User.Identity.Name");
            $("form").attr('action', "/Home/Create").submit();
        });



    </script>

}



