@model IEnumerable<ApolloReportCard.Models.CriteriaModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuarterOneGrade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuarterOneComments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuarterTwoGrade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuarterTwoComments)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.QuarterThreeGrade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuarterThreeComments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuarterFourGrade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuarterFourComments)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuarterOneGrade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuarterOneComments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuarterTwoGrade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuarterTwoComments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuarterThreeGrade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuarterThreeComments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuarterFourGrade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuarterFourComments)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
